# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Floyd.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DONBASS\RiderProjects\Floyd\.idea\.idea.Floyd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
